html {
    background-color: rgb(167, 167, 231);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

button {
    width: 150px;
    height: 75px;
    border: transparent;
    border-radius: 10%;
    font-size: 16px;
    font-weight: bold;
    background-color: aqua;
    box-shadow: 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

button:active {
    box-shadow: none;
}

table {
    border-spacing: 15px;
    margin: auto auto;
}
