* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

html {
    background-color: rgb(1, 1, 31);
}

thead {
    background-color: black;
}

table {
    border: 3px solid navy;
    margin: auto auto;
    width: 750px;
}

td, th {
    border-bottom: 1px solid navy;
}

td {
    padding: 10px;
}

th {
    padding: 5px;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: aqua;
}

h2 {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}

.code {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: aqua;
    padding: 5px;
}

nav table {
    border: 0px;
    background-color: black;
    width: auto;
}

nav table td {
    border-bottom: 0px;
}

.fixed {
    position: fixed;
    top: 25px;
    left: 25px;
}
